@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>
<p>
    Visit the project page at <a href="https://github.com/martijnboland/mvcpaging">https://github.com/martijnboland/mvcpaging</a>.
</p>