@model MvcPaging.Demo.Models.ViewSourceViewModel

<div class="source">

    <h3>Razor code</h3>
    <pre class="brush: xml">@Model.RazorCode</pre>

    <h3>Controller code</h3>
    <pre class="brush: csharp">@Model.ControllerCode</pre>
</div>

<script type="text/javascript">
    SyntaxHighlighter.all();
</script>